.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: whitesmoke;
}

.row {
    display: flex;
}

.row-mirror {
    /*opacity: 0;*/
    /*visibility: hidden;*/
}
